* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: red;
}

html,
body {
  height: 100%;
}

h1 {
  color: green;
}

.title {
  color: yellow;
  text-decoration-color: yellow;
  text-align: left;
  font-size: 100px;
  font-weight: 1000;
}
.page {
  height: 100%;
  border: red 1px solid;
}
.slogan {
  color: lightblue;
  text-align: right;
  font-size: 25px;
  box-sizing: content-box;
}
